#wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 500px;
}
h1 {
  flex-basis: 100%;
  text-align: center;
}
.box {
  width: 350px;
  height: 580px;
  /* background: rgb(70, 127, 153); */
  backdrop-filter: blur(1px);
  overflow: hidden;
  box-shadow: 2px 2px 5px #888;
  position: relative;
}
.box img {
  max-width: 100%;
  position: absolute;
  bottom: -1235px;
  transition: bottom 2s ease-in-out;
  /* // K => 0 */
}
.box:hover img {
  bottom: 0px;
  cursor: pointer;
}

.content {
  display: flex;
}
