@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  padding: 30px 100px;
  /* margin-left: 236px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
header .logo {
  position: relative;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}
header .navigation a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}
header .navigation a:not(:last-child) {
  margin-right: 20px;
}
header .navigation a:hover {
  background: #c8e4ed;
}

/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
} */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading-text {
  width: 100px;
  height: 50px;
  background: #89ceee;
  -webkit-transition: width 3s, height 4s; /* Safari */
  -webkit-transition-delay: 1s; /* Safari */
  transition: width 1s, height 2s;
  transition-delay: 1s;
}
.heading-text {
  width: 300px;
}

.heading h3 {
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border: 1px solid #226a80;
  border-radius: 25px;
  background-color: #fff;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  row-gap: 5px;
  position: relative;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #226a80;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: " ";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #226a80;
}

.overlay::after {
  width: 45px;
  height: 40px;
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #226a80;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.decription {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  /* border-radius: 50%; */
  text-align: center;
  line-height: 40px;
  /* color: #fff; */
  font-size: 17px;
  /* text-decoration: none;
  transition: all 0.4s ease; */
}
.media-icons a:nth-child(1) {
  color: #4267b2;
}

.media-icons a:nth-child(2) {
  color: #1da1f2;
}

.media-icons a:nth-child(3) {
  color: #e1306c;
}

.media-icons a:nth-child(4) {
  color: #ff0000;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #226a80;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #558fa0;
}

.swiper-navBtn {
  color: #226a80;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #226a80;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #226a80;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #226a80;
}

label {
  display: none;
}

#check {
  z-index: 3;
  display: none;
}

/* Responsive Styles */
@media (max-width: 960px) {
  header .navigation {
    display: none;
  }
  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }
  label:hover {
    color: #fff;
    background-color: #fff;
  }
  label .close-btn {
    display: none;
  }
  #check:checked ~ header .navigation {
    z-index: 2;
    position: fixed;
    background: #226a80;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #check:checked ~ header .navigation a {
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
  }
  #check:checked ~ header .navigation a:hover {
    background-color: #fff;
  }
  #check:checked ~ header label .menu-btn {
    display: none;
  }

  #check:checked ~ header label .close-btn {
    z-index: 2;
    display: block;
    position: fixed;
  }
  label .menu-btn {
    position: absolute;
  }
  header .logo {
    position: absolute;
    bottom: -6px;
  }
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
